
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Allura&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,400;1,500&display=swap');


/* ! Reset css  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

::-webkit-scrollbar {
    display: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ! Reset css end  */

body { 
    background-color: rgb(9, 9, 9);
	font-family: 'Open Sans', sans-serif;
}

#content {
    height: 100vh;
    width: 100% ; 
}

.navbar { 
	display: flex;
	background-color: rgba(14, 13, 13, 0.85);
	color: whitesmoke;
	padding: 1vh 1vh 2vh 4vh ;
	font-size: 2.6vh ;
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 10;
}

.navbar > a { 
	padding: 2vh 2vh 1vh 1.5vh ;
	border-bottom: 1px solid rgba(14, 13, 13, 0.85) ;
	transition: 0.42s ease-in-out;
	letter-spacing: calc(0.06vw + 2px);
}

.navbar > a:hover {
	border-bottom: 1px solid black;
	border-radius: 10px;
	border-color: whitesmoke;
 }

#cocktailVideo { 
	height: 100vh;
	width: 100%;
	position: relative;
	object-fit: cover;
	z-index: 1;
}

#cocktailTextDiv { 
	z-index: 5;
	color: rgb(193, 193, 193);
	position: absolute;
	top: 14vh;
	width: 30vw;
}

#cocktailTextHeader{ 
	text-align: center;
	font-size: 8.2vh;
	width: 42vw;
	color: rgb(193, 193, 193);
	margin-bottom: 3vh;
	font-family: 'Allura', cursive;
}

#cocktailTextP { 
	margin-top: 2vh;
	margin-left: 2vw;
	font-size: 2.2vh;
	width: 35vw;
	text-align: center;
	line-height: 2.9vh;
}

#promotionDiv { 
	/* border-top: 0.3vw solid rgb(102, 102, 102);
	border-right: 0.2vw solid  rgb(102, 102, 102);
	border-left: 0.2vw solid  rgb(102, 102, 102);
	border-radius: 3vw 3vw 0 0; */
	margin: auto;
	margin-top: 12vh;
	width: 88vw;
}

.promotionCocktailSections { 
	color: rgb(193, 193, 193);
	margin: 4vh auto;
	width: 80vw;
	height: 50vh;
	border-radius: 3vw 3vw;
	display: flex;
	font-size: 1.5vw;
	line-height: 3.8vh;
}

.cocktailSectionText { 
	margin: 4vh 3vw;
	width: 40vw;
}

.cocktailSectionText >h2  { 
	text-align: center;
	font-size: 8vh;
	margin-bottom: 4vh;
	font-weight: 500;
	font-family: 'Allura', cursive;
	letter-spacing: 0.4vw;
}

.cocktailImg { 
	height: 45vh;
	margin: 3vh 8vw 3vh 8vw;
	border: 0.2vw solid rgb(129, 129, 129);
	border-radius: 35px;
	-webkit-box-shadow: 0px 6px 20px 2px rgba(167, 167, 167, 0.68);
	-moz-box-shadow: 0px 6px 20px 2px rgba(167, 167, 167, 0.68);
	box-shadow: 0px 6px 20px 2px rgba(167, 167, 167, 0.68);
}

.cocktailSectionP { 
	margin-top: 20px;
	width: 43vw;
}

#footer { 
	background-color: rgb(9, 9, 9);
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footerContent { 
	background-color: rgb(9, 9, 9);
	width: 88vw;
	height: 30vh;
	border-radius: 30px;
	-webkit-box-shadow: 0px 6px 30px 0px #fad1fa78;
	-moz-box-shadow: 0px 6px 30px 0px #fad1fa78;
	box-shadow: 0px 6px 30px 0px #fad1fa78;
	display: flex;
	justify-content: space-around;
}

#footerImg {
	filter: invert(94%) sepia(26%) saturate(619%) hue-rotate(315deg) brightness(97%) contrast(98%);
	width: 13vw;
	margin: 5vh 0vw 5vh 0vw;
}

#footerSocialDiv { 
	margin-top: 10vh;
	display: flex;
	width: 28vw;
	justify-content: space-evenly;
}

.socialIcon { 
	color: wheat;
	font-size: 8vh;
	cursor: pointer;
}

#footerAdressContainer { 
	margin-top: 5vh;
}

#numberAdressHeader { 
	font-size: 4vh;
	color: wheat;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#numberP { 
	color: wheat;
	text-align: center;
	margin-top: 5vh;
	font-size: 2.5vh;
}

#address { 
	color: wheat;
	margin-top: 3vh;
}

#aboutContainer  { 
	position: relative;
}

#aboutBackgroundImg { 
	width: 100vw;
	height: auto;
	z-index: 1;
}

#aboutTextDiv { 
	position: absolute;
	z-index: 5;
	color: whitesmoke;
	top: 20vh;
	left: 55vw;
	width: 35vw;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.366);
	padding: 6vh 3vw 5vh 3vw;
	border-radius: 26px;
	font-size: 2.6vh;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	line-height: 3.2vh;
	
}

#aboutTextH  {
	font-size: 6vh;
	font-family: 'Allura', cursive;
	padding-bottom: 3vh;
}

#contactContainer{ 
	width: 90vw;
	height: 70vh;
	margin: 9vh auto;
	border: 2px solid rgb(155, 153, 153);
	border-radius: 30px;
	display: flex;
}

#contactContainerText { 
	height: 70vh;
	width: 45vw;
	border-radius: 30px;
}

#contactContainerMap { 
	height: 70vh;
	width: 45vw;
	border-radius: 30px;
}

/* #contactImageDiv  { 
	
} */

#contactImageDiv > img { 
	height: 70vh;
	border-radius: 30px 0 0 30px;
}

#contactMapDiv { 
	width: 45vw;
	height: auto;
}

